-- phpMyAdmin SQL Dump
-- version 5.2.3
-- https://www.phpmyadmin.net/
--
-- Host: mysql:3306
-- Generation Time: Nov 25, 2025 at 03:42 PM
-- Server version: 8.0.44
-- PHP Version: 8.3.26

SET SQL_MODE = "NO_AUTO_VALUE_ON_ZERO";
START TRANSACTION;
SET time_zone = "+00:00";


/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;

--
-- Database: `preorder_farm`
--

-- --------------------------------------------------------

--
-- Table structure for table `category`
--

CREATE TABLE `category` (
  `categoryId` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `name` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `description` tinytext COLLATE utf8mb4_unicode_ci
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

--
-- Dumping data for table `category`
--


-- --------------------------------------------------------

--
-- Table structure for table `farmer`
--

CREATE TABLE `farmer` (
  `farmerId` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `farmName` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `imageF` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `slipUrl` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `email` varchar(45) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `Address` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `password` varchar(45) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `phoneNumber` varchar(45) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `rating` varchar(45) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `farmLocation` varchar(45) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `status` varchar(45) COLLATE utf8mb4_unicode_ci DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

--
-- Dumping data for table `farmer`
--


-- --------------------------------------------------------

--
-- Table structure for table `farmer_images`
--

CREATE TABLE `farmer_images` (
  `id` bigint NOT NULL,
  `farmerId` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `imageUrl` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `sort_order` int DEFAULT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

--
-- Dumping data for table `farmer_images`
--


-- --------------------------------------------------------

--
-- Table structure for table `member`
--

CREATE TABLE `member` (
  `memberId` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `Fullname` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `PhoneNumber` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `imageUrl` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `Address` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `password` varchar(45) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `email` varchar(45) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `status` varchar(45) COLLATE utf8mb4_unicode_ci DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

--
-- Dumping data for table `member`
--


-- --------------------------------------------------------

--
-- Table structure for table `perorder`
--

CREATE TABLE `perorder` (
  `orderId` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `orderDate` date DEFAULT NULL,
  `totalPrice` decimal(10,2) DEFAULT NULL,
  `orderStatus` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `memberId` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `farmerId` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `paymentStatus` varchar(45) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `DeliveryDate` varchar(45) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `createdAt` datetime DEFAULT CURRENT_TIMESTAMP,
  `updatedAt` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

--
-- Dumping data for table `perorder`
--


-- --------------------------------------------------------

--
-- Table structure for table `preorderdetail`
--

CREATE TABLE `preorderdetail` (
  `preOrderId` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `quantity` int DEFAULT NULL,
  `preOrderStatus` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `orderId` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `productId` varchar(36) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

--
-- Dumping data for table `preorderdetail`
--

INSERT INTO `preorderdetail` (`preOrderId`, `quantity`, `preOrderStatus`, `orderId`, `productId`) VALUES
('0cc5583c-2a91-4f01-9cc8-ed15438aee7f', 6, 'PENDING', 'b043804c-bb5a-4780-bfcd-8371808d5553', 'f20b417f-ec20-49e7-91c6-547213bbe803'),
('64f5302b-bf16-41a7-8da7-c15d32530bd8', 4, 'PENDING', 'a18bab67-37af-4150-878d-7d1694e3c059', 'f20b417f-ec20-49e7-91c6-547213bbe803'),
('e3074cb6-ff41-4410-8dc2-03552c5feed8', 5, 'PENDING', '49289d6e-3471-49c0-8d80-8b2832c51d92', 'f20b417f-ec20-49e7-91c6-547213bbe803');

-- --------------------------------------------------------

--
-- Table structure for table `product`
--

CREATE TABLE `product` (
  `productId` varchar(36) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL,
  `Productname` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `description` text COLLATE utf8mb4_unicode_ci,
  `price` decimal(12,2) NOT NULL,
  `availability` tinyint(1) DEFAULT NULL,
  `categoryId` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `farmerId` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `Img` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `status` varchar(45) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `stock` int DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

--
-- Dumping data for table `product`
--


-- --------------------------------------------------------

--
-- Table structure for table `product_image`
--

CREATE TABLE `product_image` (
  `imageId` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `productId` char(36) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL,
  `imageUrl` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `sortOrder` int DEFAULT NULL,
  `createdAt` timestamp NULL DEFAULT CURRENT_TIMESTAMP
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

--
-- Dumping data for table `product_image`
--


-- --------------------------------------------------------

--
-- Table structure for table `receipt`
--

CREATE TABLE `receipt` (
  `receiptId` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `ReferenceID` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `Img` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `perorder_orderId` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

--
-- Dumping data for table `receipt`
--

INSERT INTO `receipt` (`receiptId`, `ReferenceID`, `Img`, `perorder_orderId`) VALUES
('000bdcbe-a33f-47cb-8dc9-2d5c7c9d628b', NULL, 'receipts/6665d630-718d-4bf6-9abb-95c2fe33ba46.png', 'b043804c-bb5a-4780-bfcd-8371808d5553');

-- --------------------------------------------------------

--
-- Table structure for table `review`
--

CREATE TABLE `review` (
  `reviewId` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `rating` int DEFAULT NULL,
  `comment` tinytext COLLATE utf8mb4_unicode_ci,
  `reviewDate` date DEFAULT NULL,
  `orderId` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `memberId` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `productId` varchar(36) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

--
-- Dumping data for table `review`
--

INSERT INTO `review` (`reviewId`, `rating`, `comment`, `reviewDate`, `orderId`, `memberId`, `productId`) VALUES
('900732cc-710b-4696-b917-9dd4b486d3fb', 5, 'ดีๆ', '2025-11-23', 'a18bab67-37af-4150-878d-7d1694e3c059', 'm001', 'f20b417f-ec20-49e7-91c6-547213bbe803'),
('eaec29e3-abdf-47c0-a40f-d43629da7e5f', 5, 'นมหอมราคาถูกมาก', '2025-11-13', 'b043804c-bb5a-4780-bfcd-8371808d5553', 'm001', 'f20b417f-ec20-49e7-91c6-547213bbe803');

--
-- Indexes for dumped tables
--

--
-- Indexes for table `category`
--
ALTER TABLE `category`
  ADD PRIMARY KEY (`categoryId`);

--
-- Indexes for table `farmer`
--
ALTER TABLE `farmer`
  ADD PRIMARY KEY (`farmerId`);

--
-- Indexes for table `farmer_images`
--
ALTER TABLE `farmer_images`
  ADD PRIMARY KEY (`id`),
  ADD KEY `idx_farmer_images_farmerId` (`farmerId`);

--
-- Indexes for table `member`
--
ALTER TABLE `member`
  ADD PRIMARY KEY (`memberId`);

--
-- Indexes for table `perorder`
--
ALTER TABLE `perorder`
  ADD PRIMARY KEY (`orderId`),
  ADD KEY `idx_perorder_memberId` (`memberId`),
  ADD KEY `idx_perorder_farmerId` (`farmerId`);

--
-- Indexes for table `preorderdetail`
--
ALTER TABLE `preorderdetail`
  ADD PRIMARY KEY (`preOrderId`),
  ADD KEY `idx_preorderdetail_orderId` (`orderId`),
  ADD KEY `idx_preorderdetail_productId` (`productId`);

--
-- Indexes for table `product`
--
ALTER TABLE `product`
  ADD PRIMARY KEY (`productId`),
  ADD KEY `idx_product_categoryId` (`categoryId`),
  ADD KEY `idx_product_farmerId` (`farmerId`);

--
-- Indexes for table `product_image`
--
ALTER TABLE `product_image`
  ADD PRIMARY KEY (`imageId`),
  ADD KEY `idx_product_image_productId` (`productId`);

--
-- Indexes for table `receipt`
--
ALTER TABLE `receipt`
  ADD PRIMARY KEY (`receiptId`),
  ADD KEY `idx_receipt_perorder_orderId` (`perorder_orderId`);

--
-- Indexes for table `review`
--
ALTER TABLE `review`
  ADD PRIMARY KEY (`reviewId`),
  ADD KEY `idx_review_orderId` (`orderId`),
  ADD KEY `idx_review_memberId` (`memberId`),
  ADD KEY `idx_review_productId` (`productId`);

--
-- AUTO_INCREMENT for dumped tables
--

--
-- AUTO_INCREMENT for table `farmer_images`
--
ALTER TABLE `farmer_images`
  MODIFY `id` bigint NOT NULL AUTO_INCREMENT, AUTO_INCREMENT=47;

--
-- Constraints for dumped tables
--

--
-- Constraints for table `farmer_images`
--
ALTER TABLE `farmer_images`
  ADD CONSTRAINT `fk_farmer_images_farmer` FOREIGN KEY (`farmerId`) REFERENCES `farmer` (`farmerId`) ON DELETE CASCADE ON UPDATE CASCADE;

--
-- Constraints for table `perorder`
--
ALTER TABLE `perorder`
  ADD CONSTRAINT `fk_perorder_farmer` FOREIGN KEY (`farmerId`) REFERENCES `farmer` (`farmerId`) ON DELETE RESTRICT ON UPDATE CASCADE,
  ADD CONSTRAINT `fk_perorder_member` FOREIGN KEY (`memberId`) REFERENCES `member` (`memberId`) ON DELETE RESTRICT ON UPDATE CASCADE;

--
-- Constraints for table `preorderdetail`
--
ALTER TABLE `preorderdetail`
  ADD CONSTRAINT `fk_preorderdetail_perorder` FOREIGN KEY (`orderId`) REFERENCES `perorder` (`orderId`) ON DELETE CASCADE ON UPDATE CASCADE,
  ADD CONSTRAINT `fk_preorderdetail_product` FOREIGN KEY (`productId`) REFERENCES `product` (`productId`) ON DELETE CASCADE ON UPDATE CASCADE;

--
-- Constraints for table `product`
--
ALTER TABLE `product`
  ADD CONSTRAINT `fk_product_category` FOREIGN KEY (`categoryId`) REFERENCES `category` (`categoryId`) ON DELETE RESTRICT ON UPDATE CASCADE,
  ADD CONSTRAINT `fk_product_farmer` FOREIGN KEY (`farmerId`) REFERENCES `farmer` (`farmerId`) ON DELETE RESTRICT ON UPDATE CASCADE;

--
-- Constraints for table `product_image`
--
ALTER TABLE `product_image`
  ADD CONSTRAINT `fk_product_image_product` FOREIGN KEY (`productId`) REFERENCES `product` (`productId`) ON DELETE CASCADE ON UPDATE CASCADE;

--
-- Constraints for table `receipt`
--
ALTER TABLE `receipt`
  ADD CONSTRAINT `fk_receipt_perorder` FOREIGN KEY (`perorder_orderId`) REFERENCES `perorder` (`orderId`) ON DELETE CASCADE ON UPDATE CASCADE;

--
-- Constraints for table `review`
--
ALTER TABLE `review`
  ADD CONSTRAINT `fk_review_member` FOREIGN KEY (`memberId`) REFERENCES `member` (`memberId`) ON DELETE RESTRICT ON UPDATE CASCADE,
  ADD CONSTRAINT `fk_review_perorder` FOREIGN KEY (`orderId`) REFERENCES `perorder` (`orderId`) ON DELETE RESTRICT ON UPDATE CASCADE,
  ADD CONSTRAINT `fk_review_product` FOREIGN KEY (`productId`) REFERENCES `product` (`productId`) ON DELETE CASCADE ON UPDATE CASCADE;
COMMIT;

/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
